
<div >
    <h1 style="margin-top: 50px;text-align: center;">GALLERY</h1>
    <h4 style="text-align: center;">COMMERCIAL, RESIDENTIAL AND YACHT INTERIORS HAVE</h4>
        
    <h4 style="text-align: center;"> PROVIDED THE GRANDEST OF STAGES FOR OUR PRODUCTS.</h4>
</div>


<div class = "container">
   
    <div class = "row" >
       <div class = "col-xs-12 col-sm-4 col-md-offset-2 " >
        <a  [routerLink]="['/table']"  > <img src="/assets/img/tlamp1.jpg" height="300px"><h4>TABLE LAMPS</h4></a></div>
        <a  [routerLink]="['/floor']"  > <img src="/assets/img/flamp1.jpg" height="300px"><h4 style="text-align: justify;">FLOOR LAMPS</h4></a></div>
       
    
    <hr>
    <div class = "row" >
        <div class = "col-xs-12 col-sm-4 col-md-offset-2 " >
            <a  [routerLink]="['/wall']"  > <img src="/assets/img/wlamp1.jpg" height="300px"><h4>WALL LAMPS</h4></a></div>           
 
            <a  [routerLink]="['/ceil']"  > <img src="/assets/img/clamp1.jpg" height="300px"><h4>CEILING LIGHTS</h4></a></div>
     
     <hr>
     <div class = "row" >
        <div class = "col-xs-12 col-sm-4 col-md-offset-2 " >
            <a  [routerLink]="['/furn']"  > <img src="/assets/img/f1.jpg" height="300px"><h4>FURNITURE</h4></a></div>           
 
        
     
     <a  [routerLink]="['/mirror']"  > <img src="/assets/img/m1.jpg" height="300px"><h4>MIRRORS</h4></a></div>

  <router-outlet></router-outlet>

  <!-- Gallery -->


  <!-- Gallery -->
