<div id="im">
   

    </div>
    <div id="a">
        <h4>DESTINED FOR THE WORLD'S </h4>
        <h4>MOST BEAUTIFUL INTERIORS</h4>
    </div>
    <div class = "container">
   
        <div class = "row" >
         
            <div class = "col-xs-12 col-sm-4  " >      <a  [routerLink]="['/table']"  > <img src="/assets/img/tlamp1.jpg" height="300px"><h4>TABLE LAMPS</h4></a></div>
                <div class = "col-xs-12 col-sm-4  " >      <a  [routerLink]="['/floor']"  > <img src="/assets/img/flamp1.jpg" height="300px"><h4 style="text-align: justify;">FLOOR LAMPS</h4></a></div>
                    <div class = "col-xs-12 col-sm-4  " ><a  [routerLink]="['/wall']"  > <img src="/assets/img/wlamp1.jpg" height="300px"><h4>WALL LAMPS</h4></a></div>           
                </div>

        
        <hr>
        <div class = "row" >
         
            <div class = "col-xs-12 col-sm-4  " > <a  [routerLink]="['/ceil']"  > <img src="/assets/img/clamp1.jpg" height="300px"><h4>CEILING LIGHTS</h4></a></div>
        
                <div class = "col-xs-12 col-sm-4  " > <a  [routerLink]="['/furn']"  > <img src="/assets/img/f1.jpg" height="300px"><h4>FURNITURE</h4></a></div>           
          
                    <div class = "col-xs-12 col-sm-4  " ><a  [routerLink]="['/mirror']"  > <img src="/assets/img/m1.jpg" height="300px"><h4>MIRRORS</h4></a></div>
                </div>           
                </div>
        
      <router-outlet></router-outlet>