<div id="im">
 

</div>
<div id="a">
    <h4>ABOUT US</h4>
        <p style="text-align: center;">AD HOC INTERIORS began life in 1988 in a tiny London workshop.
             From the beginning, the ambition was to create beautiful 
             and inspiring pieces that would be loved. Good fortune came 
             in finding skilled British craftspeople to create those quirky and original designs.
        
        The AD HOC INTERIORS style and design language has continuously evolved over the
         following quarter century to become a leading global brand, and a critical
          ingredient in the world’s most beautiful houses, yachts, hotels and movie sets.
           We still work with many of our original artisans, and continue to seek out 
           the next artistic talent, to help breathe fresh life into our collections. </p>
   
</div>
<H2 style="text-align: center;">DISCOVER THE WORLD OF AD HOC INTERIORS</H2>
<div class="row">
    <div class="col-sm-4"><img src="assets/img/ab1.jpg" height="600px" >
    <h3>MADE IN BRITAIN</h3></div>
    <div class="col-sm-4"><img src="assets/img/ab2.jpg" height="600px" >
    <h3>LAMPSHADE STUDIO</h3></div>
    <div class="col-sm-4"><img src="assets/img/ab3.jpg" height="600px" width="500px" >
    <h3>CRAFTSMANSHIP</h3></div>
  </div>
  
  <div class="row">
    <div class="col-sm-4"><img src="assets/img/ab4.jpg" height="600px" width="500px" >
    <h3>DESIGN STUDIO</h3></div>
    <div class="col-sm-4"><img src="assets/img/ab6.jpg" height="600px"  >
    <h3>ICONS</h3></div>
    <div class="col-sm-4"><img src="assets/img/ab5.jpg" height="600px" width="500px" >
    <h3>PAINTING STUDIO</h3></div>
    </div>

<router-outlet></router-outlet>

