
<hr>
<h1 style="text-align: center;">GALLERY<div class="dropdown">
    <button class="dropbtn">Select<i class="fa fa-caret-down"></i></button>
    <div class="dropdown-content">
      <a [routerLink]="['/table']">TABLE LAMPS</a>
      
      <a [routerLink]="['/floor']">FLOOR LAMPS</a>
      <a [routerLink]="['/wall']">WALL LAMPS</a>
      <a [routerLink]="['/ceil']">CEILING LIGHTS</a>
      <a [routerLink]="['/furn']">FURNITURE</a>
      <a [routerLink]="['/mirror']">MIRRORS</a>
    </div>
  </div>
<div class = "container">
   
    <div class = "row" >
       <div class = "col-xs-12 col-sm-10 col-md-offset-2 " >
           <img src="/assets/img/clamp1.jpg" height="300px">
           <img src="/assets/img/clamp2.jpg" height="300px">
           <img src="/assets/img/clamp3.jpg" height="300px" width="300px">

       </div>
    </div>
    <hr>
    <div class = "row" >
        <div class = "col-xs-12 col-sm-10 col-md-offset-2 " >
            <img src="/assets/img/clamp4.jpg" height="300px">
            <img src="/assets/img/clamp5.jpg" height="300px">
            <img src="/assets/img/clamp6.jpg" height="300px">
 
        </div>
     </div>
     <hr>
     <div class = "row" >
        <div class = "col-xs-12 col-sm-10 col-md-offset-2 " >
            <img src="/assets/img/clamp7.jpg" height="300px">
            <img src="/assets/img/clamp8.jpg" height="300px">
            <img src="/assets/img/clamp9.jpg" height="300px">
 
        </div>
     </div>
     <hr>
     <div class = "row" >
        <div class = "col-xs-12 col-sm-10 col-md-offset-2 " >
            <img src="/assets/img/clamp10.jpg" height="300px">
            <img src="/assets/img/clamp11.jpg" height="300px">
            <img src="/assets/img/clamp12.jpg" height="300px">
 
        </div>
     </div>
 </div>
  <router-outlet></router-outlet>
