
<hr>
<h1 style="text-align: center;">GALLERY<div class="dropdown">
    <button class="dropbtn">Select<i class="fa fa-caret-down"></i></button>
    <div class="dropdown-content">
      <a [routerLink]="['/table']">TABLE LAMPS</a>
      
      <a [routerLink]="['/floor']">FLOOR LAMPS</a>
      <a [routerLink]="['/wall']">WALL LAMPS</a>
      <a [routerLink]="['/ceil']">CEILING LIGHTS</a>
      <a [routerLink]="['/furn']">FURNITURE</a>
      <a [routerLink]="['/mirror']">MIRRORS</a>
    </div>
  </div>
<div class = "container">
   
    <div class = "row" >
       <div class = "col-xs-12 col-sm-10 col-md-offset-2 " >
           <img src="/assets/img/wlamp1.jpg" height="300px">
           <img src="/assets/img/wlamp2.jpg" height="300px">
           <img src="/assets/img/wlamp3.jpg" height="300px" width="300px">

       </div>
    </div>
    <hr>
    <div class = "row" >
        <div class = "col-xs-12 col-sm-10 col-md-offset-2 " >
            <img src="/assets/img/wlamp4.jpg" height="300px">
            <img src="/assets/img/wlamp5.jpg" height="300px">
            <img src="/assets/img/wlamp6.jpg" height="300px">
 
        </div>
     </div>
     <hr>
     <div class = "row" >
        <div class = "col-xs-12 col-sm-10 col-md-offset-2 " >
            <img src="/assets/img/wlamp7.jpg" height="300px">
            <img src="/assets/img/wlamp8.jpg" height="300px">
            <img src="/assets/img/wlamp9.jpg" height="300px">
 
        </div>
     </div>
     <hr>
     <div class = "row" >
        <div class = "col-xs-12 col-sm-10 col-md-offset-2 " >
            <img src="/assets/img/wlamp10.jpg" height="300px">
            <img src="/assets/img/wlamp11.jpg" height="300px">
            <img src="/assets/img/wlamp12.jpg" height="300px">
 
        </div>
     </div>
 </div>
  <router-outlet></router-outlet>

