
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#myPage">AD HOC INTERIORS</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['/home']">HOME</a></li>
              <li><a [routerLink]="['/aboutus']">ABOUT</a></li>
              <li><a [routerLink]="['/gallery']">GALLERY</a></li>
              
              <li><a [routerLink]="['/contact']">CONTACT</a></li>
              <li><div class="dropdown">
                <button class="dropbtn">LOGIN/SIGN UP<i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content">
                  <a [routerLink]="['/login']">LOGIN</a>
                  
                  <a [routerLink]="['/register']">SIGN UP</a>
                </div>
              </div></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <router-outlet></router-outlet>
    
       <footer>
        <div class="footer">
            <div class="container">
                <div class="row">             
                    <div class="col-4 offset-1 col-sm-2">
                        <h5>Links</h5>
                        <ul class="list-unstyled">
                            <li><a [routerLink]="['/home']">HOME</a></li>
                            <li><a [routerLink]="['/aboutus']">ABOUT</a></li>
                            <li><a [routerLink]="['/gallery']">GALLERY</a></li>
                            <li><a [routerLink]="['/contact']">CONTACT</a></li>
                        </ul>
                    </div>
                    <div class="col-7 col-sm-5">
                      <h5>Our Address</h5>
                      <address>
                    121, Clear Water Bay Road<br>
                    Clear Water Bay, Kowloon<br>
                    HONG KONG<br>
                       <i class="fa fa-phone fa-lg"></i>: +852 1234 5678<br>
                        <i class="fa fa-fax fa-lg"></i>: +852 8765 4321<br>
                        <i class="fa fa-envelope fa-lg"></i>: 
                        <a href="mailto:adhoc@interiors.net">adhoc@interiors.net</a>
                 </address>
                  </div>
                  <div class="col-12 col-sm-4 align-self-center">
                                          <div class="text-center">
                          <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                          <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                          <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                          <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                          <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                          <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                      </div>
             </div>
             <div class="row justify-content-center">             
                  <div class="col-auto">
                      <p>© Copyright 2018 Ad Hoc Interiors</p>
                  </div>
             </div>
          </div>
          </div>
      </div>
      </footer>